@import url('https://fonts.googleapis.com/css2?family=roboto,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"roboto",sans-serif;
    background-color: var(--bg);
}
.main-container {
    width: 100%;
    max-width: 1530px;
    margin: auto;
    position: relative;
}
.btn {
    padding: 11px 20px;
    background-color: var(--main-color);
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
}
.btn:hover {
    transform: scale(1.15);
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
#header .container {
    background: var(--bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #e7e4e4 ;
    padding: 16px;
}
.logo {
    width: 70px;
    height: 70px;
}
.navlist a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.navlist a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
 .icons {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    justify-content: space-between;
    gap: 16px;
    font-size: 20px;
}
 .icons .search:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .shoping-cart:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .menu:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .menu {
    display: none;
}
.search-form {
    position: absolute;
    top: 150px;
    right: 50px;
    border: 1px solid #fff;
    background: #fff;   
    height: 30px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.search-form input {
    padding: 10px;
    font-size: 20px;
    color: var(--black);
    text-transform: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.search-form label {
    padding: 5px;
}

.cart-item-container {
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
    background: #fff;
    text-align: center;
}
.cart-item {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.cart-item img {
    height: 70px;
    width: 70px;
    margin: 10px;
}
.cart-item-container button {
    margin: 20px;
}



#main {
    background-image: url(./images/background\ image\ 2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom center;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.main-content {
    margin-top: 200px;
    margin-bottom: 200px;
}
.main-content h1 {
    font-size: 55px;
    color: #fff;
    max-width: 500px;
}
.main-content p {
    font-size: 20px;
    color: #fff;
    max-width: 600px;
    margin-top: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
}
.heading span {
    color: var(--main-color);
}


#about-us {
    padding-block: 20px;
}
.about-container {
    display: flex;
    align-items: center;
    background-color: rgb(51, 50, 50);
}
.about-img {
    width: 700px;
    height: 500px;
}
.about-content {
    color: #fff;
    padding-block: 40px;
    line-height: 30px;
    padding-inline: 60px;
    h1{
        font-size: 35px;
    }
    p{
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }
}


#menu .box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-inline: 100px;
}
.box-container .box {
    text-align: center;
    border: 1px solid #fff;
    padding: 50px;
    margin: 10px;
}
.box-container .box img {
    height: 100px;
    width: 100px;
}
.box-container .box h3 {
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.box-container .box .price {
    color: #fff;
    padding: 16px;
}
.box-container .box .price span {
    text-decoration: line-through;
    font-size: 10px;
}
.heading{
    text-align: center;
}
 .box:hover {
    background-color: #fff;
    h3{
        color: black;
    }
    p{
        color: #010103;
    }    
}



#product {
    margin-top: 50px;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-image {
    width: 180px;
    height: 300px;
    padding: 20px;
}
.product-content {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
.stars {
    color: var(--main-color);
    padding: 10px;
}
.main-box {
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 50px;
    justify-content: center;
}

.product-icons a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
}
.product-price {
    color: #fff; 
    font-size: 20px; 
    padding: 10px;
}
.product-price span {
    font-size: 12px;
    text-decoration: line-through;
}
.product-icons a:hover {
    background: var(--main-color)
}



#review .review-box {
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 10px;
    width: 350px;
}
#review {
    margin-top: 50px;
}
.customer-review-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.quotes-image {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.profile-content {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    p{
    text-align: center;
    }
}
.profile-image {
    width: 90px;
    height: 90px;
    padding: 10px;
}
.profile-name {
    color: #fff;
    font-size: 25px;
}



#contact .contact-content {
    display: flex;
    align-items: center;
    background: rgb(59, 58, 58);
    flex-wrap: wrap;
    gap: 140px;
    margin-inline: 17px;
}
#contact{
    justify-content: space-around;
    margin-top: 50px;
}
.map {
    width: 50vw;
    height: 500px;
}
.contact-content form {
    text-align: center;
    
}
.contact-content form h3 {
    font-size: 40px;
    color: #fff;    
}
.input-box {
    color: #fff;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
    background: rgb(44, 43, 43);
}
.input-box span {
    color: #fff;
    font-size: 16px;
    padding: 15px;
}
.input-box input {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-transform: none;
    background: none;
    width: 300px;
    height: 50px;
    border: none;
}

#blogs {
    margin-top: 50px;
}

#blogs .main-blogs {
    border: 1px solid #fff;
    width:350px;
    text-align: start;
}
.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.blog-text {
    color: #fff;
    font-size: 25px;
    padding: 8px;
}
.main-blogs span {
    color: var(--main-color);
    font-size: 20px;
    padding: 8px;
}
.main-blogs p {
    color: #fff;
    padding: 8px;
}
.main-blogs .blog-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.blog-content {
    padding: 20px;
    text-align: start;
}



#footer {
    background: var(--black);
    text-align: center;
}
.footer-icons a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
}
.footer-icons a:hover {
    background: var(--main-color);
}
.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
}
.footer-links a:hover {
    background: var(--main-color);
}
.footer-credit {
    color: #fff;
    font-size: 20px;
}
.footer-credit span {
    color: var(--main-color);
}



@media (max-width:900px) {

    #header{
        
        .icons .menu {
            display: block;
        }
        .navlist{
            display: none;
            flex-direction: column;
            background: rgb(90, 88, 88);
            position: fixed;
            top: 120px;
            right:0;
            width: 60%;
            height: 110vh;
            transition: all 0.5s ease;
            text-align: center;
            padding: 20px;
        }
        .navlist.active{
            display: block;
            display: flex;
            flex-direction: column;
            background: rgb(224, 218, 218);
            position: fixed;
            top: 102px;
            right:0;
            width: 35%;
            height: 110vh;
            transition: all 0.5s ease;
            text-align: center;
            padding: 20px;
        }
        .navlist a{
            text-decoration: none;
            font-size: 20px;
            padding: 15px;
            color: var(--bg);

        }
    }
    #main {
        justify-content: center;
        text-align: center;
    }
    #about-us {
        .about-container {
            display: flex;
            flex-direction: column;
        }
        .about-container img {
            width: 100%;
        }
        .about-content {
            padding: 20px;
        }
    }
    
    #menu {
        .box-container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            justify-content: center;
        }
        .box-container .box {
            text-align: center;
            border: 1px solid #fff;
            padding: 30px;
            margin: 10px;
            width: 44vw;
            height: 290px;
        }
    }

    #contact {
        .contact-content{
            justify-content: center;
        }
        .map {
            width: 100%;
        }
        .contact-content form {
            margin-top:-30px;
            margin-bottom: 30px;
        }
        .contact-content form h3 {
            font-size: 30px;
        }
    }
}


@media (max-width:500px) {
    #header {
        .logo {
            width: 60px;
            height: 60px;
        }
    }

    .heading {
        font-size: 35px;
    }
    #main {
        .main-content {
            text-align: center;
            padding-right: 40px;
        }
        .main-content h1 {
            font-size: 30px;
        }
        .main-content p {
            font-size: 15px;
        }
    }

    #about-us {
        .about-container .about-img {
            width: 100%;
            height: 300px;
        }
        .about-content h1 {
            font-size: 25px;
        }
        .about-content p {
            font-size: 12px;
        }
    }

    #menu {
        .box-container {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
        }
        .box-container .box {
            text-align: center;
            border: 1px solid #fff;
            padding: 30px;
            margin: 10px;
            width: 95vw;
            height: 290px;
        }
    }
    #product {
        .main-box {
            width: 290px;
        }
    }

    #review {
        .review-box {
            width: 300px;
        }
        .profile-content p {
            font-size: 15px;
        }
    }

    #contact {
        .map {
            width: 100%;
            height: 300px;
        }
        .input-types .input-box input {
            width: 170px;
            height:30px;
            font-size: 18px;
        }
        .input-box span {
            color: #fff;
            font-size: 10px;
            padding: 15px;
        }
        .input-box input {
            padding: 10px;
            font-size: 18px;
            color: #fff;
            text-transform: none;
            background: none;
            width: 300px;
            height: 50px;
            border: none;
        }
    }

    #blogs {
        .main-blogs {
            width: 290px;
        }
        .blog-text {
            font-size: 23px;
        }
        .blog-content span {
            font-size: 18px;
        }
        .blog-content p {
            font-size: 14px;
        }
    }

    
}