@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"DM sans",sans-serif;
    background-color: var(--bg);
}
.btn {
    padding: 11px 20px;
    background-color: var(--main-color);
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border: none;
}

#header .container {
    background: var(--bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #fff ;
    padding: 16px;
}
.navlist a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.navlist a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
 .icons {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 20px;
    justify-content: space-between;
    gap: 16px;
}
 .icons .search:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .shoping-cart:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .menu:hover {
    cursor: pointer;
    color: var(--main-color);
}
.icons .menu {
    display: none;
}

#main {
    background-image: url(./images/background\ image\ 2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 50px;
}
.main-content h1 {
    font-size: 55px;
    color: #fff;
    max-width: 500px;
}
.main-content p {
    font-size: 20px;
    color: #fff;
    max-width: 600px;
    margin-top: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
}
.heading span {
    color: var(--main-color);
}
#about-us {
    padding-inline: 40px;
    padding-block: 20px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: rgb(51, 50, 50);
}
.about-img {
    width: 650px;
    height: 500px;
}
.about-content {
    color: #fff;
    padding-block: 40px;
    line-height: 30px;
    h1{
        font-size: 35px;
    }
    p{
        margin-top: 20px;
        font-size: large;
        margin-bottom: 20px;
    }
}

#menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    padding-inline: 70px;
}
.box-container .box {
    text-align: center;
    border: 1px solid #fff;
    padding: 50px;
    margin: 10px;
}
.box-container .box img {
    height: 100px;
    width: 100px;
}
.box-container .box h3 {
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
.box-container .box .price {
    color: #fff;
    padding: 16px;
}
.box-container .box .price span {
    text-decoration: line-through;
    font-size: 10px;
}
.heading{
    text-align: center;
}
 .box:hover {
    background-color: #fff;
    h3{
        color: black;
    }
    p{
        color: #010103;
    }    
}

.product-box {
    display: flex;
    justify-content: space-around;
    padding-inline: 80px;
}
.product-image {
    width: 180px;
    height: 300px;
    padding: 20px;
}
.product-content {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
.stars {
    color: var(--main-color);
    padding: 10px;
}
.main-box {
    border: 1px solid #fff;
    text-align: center;
    padding: 20px 80px;
    margin: 16px;
}

.product-icons {
    color: #fff;
    display: flex;
}
.product-shoping-cart {
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
}
.heart {
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
}
.eye {
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
}
.product-price {
    color: #fff; 
    font-size: 20px; 
    padding: 10px;
}
.product-price span {
    font-size: 12px;
    text-decoration: line-through;
}
.product-shoping-cart:hover {
    background: var(--main-color)
}
.heart:hover {
    background: var(--main-color)
}
.eye:hover {
    background: var(--main-color)
}


#review .review-box {
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 10px;
    margin: 16px;
    width: 400px;
}
.customer-review-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline: 20px;
}
.quotes-image {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.profile-content {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    p{
    text-align: center;
    }
}
.profile-image {
    width: 90px;
    height: 90px;
    padding: 10px;
}
.profile-name {
    color: #fff;
    font-size: 25px;
}


#contact .contact-content {
    display: flex;
    align-items: center;
    background: rgb(59, 58, 58);
    flex-wrap: wrap;
    gap: 150px;
}
#contact{
    justify-content: space-around;
}
.map {
    width: 700px;
    height: 500px;
}
.contact-content form {
    text-align: center;
}
.contact-content form h3 {
    font-size: 40px;
    color: #fff;    
}
.input-box {
    color: #fff;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
    background: rgb(44, 43, 43);
}
.input-box span {
    color: #fff;
    font-size: 16px;
    padding: 15px;
}
.input-box input {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-transform: none;
    background: none;
    width: 300px;
    height: 50px;
    border: none;
}

#blogs .main-blogs {
    border: 1px solid #fff;
    width:405px;
    text-align: start;
}
.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog-text {
    color: #fff;
    font-size: 25px;
    padding: 8px;
}
.main-blogs span {
    color: var(--main-color);
    font-size: 20px;
    padding: 8px;
}
.main-blogs p {
    color: #fff;
    padding: 8px;
}
.main-blogs .blog-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.main-blogs .blog-image:hover {
    transform: scale(1.05);
}

